@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.blue {
    color: #2539F0;
}

h1, h2 {
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px; 
}

#logo {
    color: #2539F0;
    text-decoration: underline;
}

#logo > p {
    font-size: 24px;
}

menu {
    display: none;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}

menu > article {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #2539F0;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #2539F0;
}

a:hover {
    text-decoration: underline;
}

#titulo {
    display: flex;
    background: url(../imagens/predio.jpg) center center no-repeat;
    background-size: cover;
    height: 174px;
}

#titulo > article {
    color: #fff;
    margin: auto;
    width: 300px;
    
}

.container, .container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 34px;
    gap: 10px;
}

#servicos {
    text-align: center;
}

p {
    text-align: left;
    font-size: 16px;
}

.imagem {
    width: 100%;
}

.imagem > img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

#ajuda {
    background-color: #2539F0;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 34px;
    gap: 10px;
}

footer {
    background-color: #2539F0;
    display: flex;
    flex-direction: column;
    color: #fff;
}

#icones {
    display: flex;
    width: 100px;
    margin: 10px auto;
    gap: 10px;
}

.rodape {
  display: flex;
  width: 300px;
  margin: auto;
}

li {
    list-style: none;
}

@media screen and (min-width: 600px) {

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }
    menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    menu > article {
        flex-direction: row;
        gap: 20px;
        margin-right: 210px;
    }

    #hamb > img {
        display: none;
    }

    #titulo {
        height: 500px;
    }

    h1 {
        font-size: 50px;
        width: 500px;
    }

    .container {
        display: flex;
        flex-direction: row;
        padding: 0px;
        height: 438px;
        justify-content: space-around;
    }

    .texto {
        margin-top: 50px;
        width: 600px;
        height: 388px;
        padding: 30px;
    }

    .texto > h2 {
        margin: 10px;
    }

    .imagem {
        width: 657px;
        height: 100%;
    }
   
    #servicos {
        text-align: center;
        margin: 20px;
    }

    .container1 {
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        padding: 0px;
        justify-content: space-around;
    }

    .imagens > #cod {
        height: 300px;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .rodape, #icones {
        margin: 10px 0px;
    }
}